{% extends "structure.html" %}
{% block title %}Image Upload{% endblock title %}
{% block sytle %}
.imagelink{
  background:#ddd;
}
{% endblock sytle %}
{% block form %}
<h2 class="mb-4 mt-4">Unique Image Generator > Upload ''Image''</h2>
  <form class="imageForm pt-4" method="POST" action="/submit-image/" enctype="multipart/form-data"> 
    {% csrf_token %}
    <div class="form-group">
        <label for="title">Title:</label>
        <input type="text" class="form-control" id="title" name="title" required>
    </div>
    <div class="form-group">
        <label for="imageCount">Number of Images:</label>
        <input type="number" class="form-control" id="imageCount" name="imageCount" min="1" max="100" value="1" required>
        <small class="text-danger">Value between 1 - 100</small>
    </div>
    <div class="form-group">
        <label for="images">Upload Image:</label>
        <input type="file" class="form-control p-1" id="images" name="images" accept="image/*"  required>
        <small class="text-danger">*.png , *.jpg , *.jpeg , </small>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>

{% endblock form %}
