{% extends "structure.html" %}
{% block title %}Zip{% endblock title %}
{% block style %}
.zip{
  background: #ddd;
}
.imagelink{
  background:none;
}

{% endblock style %}

{% block form %}
  <h2 class="mb-4 mt-4">Unique Image Generator > Upload ''Zip'' </h2>
  <form class="imageForm pt-4" method="POST" action="/submit-zip/" enctype="multipart/form-data"> 
    {% csrf_token %}
    <div class="form-group">
        <label for="title">Title:</label>
        <input type="text" class="form-control" id="title" name="title" value="das" required>
    </div>
    <div class="form-group">
        <label for="imageCount">Number of Folders:</label>
        <input type="number" class="form-control" id="imageCount" name="folderCount" min="1" max="50" value="3" required>
        <small class="text-danger">Value between 1 - 50</small>
    </div>
    <div class="form-group">
        <label for="images">Upload File:</label>
        <input type="file" class="form-control p-1" id="zipfile" name="zipfile" accept=".zip"  required onchange="validateFile()">
        <small class="text-danger"> *.zip </small>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>

  <script>
    function validateFile() {
      var fileInput = document.getElementById('zipfile');
      var fileName = fileInput.value;
      
      if (!fileName.endsWith('.zip')) {
        alert('Allow .zip file only.');
        fileInput.value = '';
      }
    }
    
  </script>

{% endblock form %}
